dialog {
  margin-top: 25%;
  background-color: red;
  background-color: transparent;
  backdrop-filter: blur(5px);
  animation: dropIn 1s ease-in-out;
}

.blurred {
  filter: blur(5px);
}

fieldset {
  display: flex;
  flex-direction: column;
}

@keyframes dropIn {
  from {
    margin-top: -100%;
  }
}
